<div class="create-container">
    <h1>Neue Tour erstellen</h1>

    <form [formGroup]="tourForm" (ngSubmit)="onSubmit()" class="tour-form">
        <mat-form-field appearance="fill">
      <mat-label>Name der Tour</mat-label>
      <input matInput formControlName="name" placeholder="z.B. Donauradweg">
      
      @if (tourForm.controls.name.hasError('required')) {
        <mat-error>Der Name ist ein Pflichtfeld.</mat-error>
      }
      @if (tourForm.controls.name.hasError('minlength')) {
        <mat-error>Der Name muss mindestens 3 Zeichen lang sein.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Distanz (in km)</mat-label>
      <input matInput type="number" formControlName="distance">
      @if (tourForm.controls.distance.hasError('min')) {
        <mat-error>Die Distanz muss größer als 0 sein.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Dauer (hh:mm)</mat-label>
      <input matInput type="time" formControlName="estimatedTime">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Beschreibung</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>
    </mat-form-field>

    <div class="form-actions">
      <button mat-button type="button" routerLink="/home">Abbrechen</button>
      
      <button mat-raised-button color="primary" type="submit" [disabled]="tourForm.invalid">
        Tour speichern
      </button>
    </div>
    </form>
</div>