DB_URL=jdbc:postgresql://localhost:5432/tourplanner
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=meinSuperGeheimerSchluesselDerMindestens32ZeichenLangSeinMuss
ORS_API_KEY=deinOpenRouteServiceApiKey
ORS_BASE_URL=https://api.openrouteservice.org