<div class="tour-grid">
  
  <mat-card class="tour-card add-tour-card" routerLink="/tour/create">
    <mat-card-content class="add-content">
      <span class="plus-icon">+</span>
      <h3>Neue Tour</h3>
    </mat-card-content>
  </mat-card>

  @for (tour of tours; track tour.id) {
    <mat-card class="tour-card tour-item-card" [routerLink]="['/tour', tour.id]">
      
      <mat-card-header>
        <mat-card-title>{{ tour.name }}</mat-card-title>
        <mat-card-subtitle>{{ tour.transportType }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p class="description">{{ tour.description }}</p>
      </mat-card-content>

      </mat-card>
  }

</div>